@import './base.scss';
@import './font.scss';

:root {
  --body-color: #191e35;
  --minor-color: #7e84a3;
  --desc-color: #909AB5;
  --hei-color: #1c1c1c;
  --title-color: #333333;
  --content-color: #666666;
  --primary-color: #597BF6;
  --van-blue: var(--primary-color) !important;
}

.text-body {
  color: var(--body-color);
}

.text-minor {
  color: var(--minor-color);
}

.hidder-scrollbar{
  &::-webkit-scrollbar {
  display: none;
}
}

.ripple-btn {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(
      circle,
      #e7eaf6 10%,
      transparent 10.1%
    );
    transform: scale(10);
    opacity: 0;
    transition: all 0.6s;
  }

  &:active::after {
    transform: scale(0);
    opacity: 0.5;
    transition: 0s;
  }
}